In [1]:
import pymysql
import pandas as pd
import matplotlib.pyplot as plt

In [7]:
import pymysql

conn = pymysql.connect(
    host='localhost',
    user='opgrs',
    password='test1234'
)

cursor = conn.cursor()
cursor.execute("SHOW DATABASES")
for db in cursor.fetchall():
    print(db)

conn.close()

('information_schema',)
('mini_project',)
('study',)

In [6]:
conn = pymysql.connect(
    host = 'localhost',
    user = 'opgrs',
    password = 'test1234',
    db = 'mini_project',
    charset = 'utf8mb4'
)

In [6]:
import pymysql
import pandas as pd
import matplotlib.pyplot as plt




conn = pymysql.connect(
    host='localhost',
    user='opgrs',
    password='test1234',
    db='mini_project',
    charset='utf8mb4'
)


years = list(range(2015, 2025))
all_data = []

for year in years:
    table_name = f"subway_{year}"
    sum_query = f"""
        SELECT 지하철역, 
               SUM(`04-05시 승차인원` + `04-05시 하차인원` +
                   `05-06시 승차인원` + `05-06시 하차인원` +
                   `06-07시 승차인원` + `06-07시 하차인원` +
                   `07-08시 승차인원` + `07-08시 하차인원` +
                   `08-09시 승차인원` + `08-09시 하차인원` +
                   `09-10시 승차인원` + `09-10시 하차인원` +
                   `10-11시 승차인원` + `10-11시 하차인원` +
                   `11-12시 승차인원` + `11-12시 하차인원` +
                   `12-13시 승차인원` + `12-13시 하차인원` +
                   `13-14시 승차인원` + `13-14시 하차인원` +
                   `14-15시 승차인원` + `14-15시 하차인원` +
                   `15-16시 승차인원` + `15-16시 하차인원` +
                   `16-17시 승차인원` + `16-17시 하차인원` +
                   `17-18시 승차인원` + `17-18시 하차인원` +
                   `18-19시 승차인원` + `18-19시 하차인원` +
                   `19-20시 승차인원` + `19-20시 하차인원` +
                   `20-21시 승차인원` + `20-21시 하차인원` +
                   `21-22시 승차인원` + `21-22시 하차인원` +
                   `22-23시 승차인원` + `22-23시 하차인원` +
                   `23-24시 승차인원` + `23-24시 하차인원` +
                   `00-01시 승차인원` + `00-01시 하차인원` +
                   `01-02시 승차인원` + `01-02시 하차인원` +
                   `02-03시 승차인원` + `02-03시 하차인원` +
                   `03-04시 승차인원` + `03-04시 하차인원`
               ) AS 유동인구,
               '{year}' AS 연도
        FROM {table_name}
        GROUP BY 지하철역
    """
    df_year = pd.read_sql(sum_query, conn)
    all_data.append(df_year)

conn.close()

C:\Users\opgrs\AppData\Local\Temp\ipykernel_27828\3144941082.py:53: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_year = pd.read_sql(sum_query, conn)

In [9]:
import streamlit as st
import seaborn as sns
import matplotlib.pyplot as plt

In [18]:
def main():
    st.title('지하철 유동인구')

data = pd.read_csv('C:\\Users\\opgrs\\OneDrive\\Desktop\\미니 프로젝트\\서울시 지하철 호선별 역별 시간대별 승하차 인원 정보2.csv')

In [19]:
st.dataframe(data)

2025-07-23 11:19:31.879 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-07-23 11:19:31.883 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-07-23 11:19:31.906 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.

DeltaGenerator()

In [ ]:
st.title("서울시 지하철 유동인구 변화분석")
persons_column = []
for col in data.columns:
    if '승차인원' or '하차인원' in col:
        persons_column.append(col)

2025-07-23 11:29:32.599 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-07-23 11:29:32.603 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-07-23 11:29:32.605 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.

In [ ]:
# 유동인구 계산
data['유동인구'] = 0
for col in persons_column:
    data['유동인구'] = data['유동인구'] + data[col]

In [ ]:
st.title("서울시 지하철 유동인구 변화분석")
persons_column = []
for col in data.columns:
    if '승차인원' or '하차인원' in col:
        persons_column.append(col)

# 유동인구 컬럼을 0으로 초기화 
data["유동인구"] = 0.0  

# 숫자형 승하차 컬럼만 선택해서 더하기
for col in persons_column:
    data['유동인구'] = data['유동인구'] + data[col]

In [31]:
for col in persons_column:
    print(col, data[col].dtype)

사용월 int64
호선명 object
지하철역 object
04시-05시 승차인원 int64
04시-05시 하차인원 int64
05시-06시 승차인원 int64
05시-06시 하차인원 int64
06시-07시 승차인원 int64
06시-07시 하차인원 int64
07시-08시 승차인원 int64
07시-08시 하차인원 int64
08시-09시 승차인원 int64
08시-09시 하차인원 int64
09시-10시 승차인원 int64
09시-10시 하차인원 int64
10시-11시 승차인원 int64
10시-11시 하차인원 int64
11시-12시 승차인원 int64
11시-12시 하차인원 int64
12시-13시 승차인원 int64
12시-13시 하차인원 int64
13시-14시 승차인원 int64
13시-14시 하차인원 int64
14시-15시 승차인원 int64
14시-15시 하차인원 int64
15시-16시 승차인원 int64
15시-16시 하차인원 int64
16시-17시 승차인원 int64
16시-17시 하차인원 int64
17시-18시 승차인원 int64
17시-18시 하차인원 int64
18시-19시 승차인원 int64
18시-19시 하차인원 int64
19시-20시 승차인원 int64
19시-20시 하차인원 int64
20시-21시 승차인원 int64
20시-21시 하차인원 int64
21시-22시 승차인원 int64
21시-22시 하차인원 int64
22시-23시 승차인원 int64
22시-23시 하차인원 int64
23시-24시 승차인원 int64
23시-24시 하차인원 int64
00시-01시 승차인원 int64
00시-01시 하차인원 int64
01시-02시 승차인원 int64
01시-02시 하차인원 int64
02시-03시 승차인원 int64
02시-03시 하차인원 int64
03시-04시 승차인원 int64
03시-04시 하차인원 int64
작업일자 int64
유동인구 float64

In [32]:
person_columns = []
for col in data.columns:
    if '승차인원' in col or '하차인원' in col:
        person_columns.append(col)

# 유동인구를 0으로 초기화 (float으로 지정해도 되고, int로도 됨)
data["유동인구"] = 0

# 유동인구 누적 계산
for col in person_columns:
    data["유동인구"] = data["유동인구"] + data[col]

In [34]:
print('유동인구 평균',data['유동인구'].mean())
print('최대값',data['유동인구'].max())

유동인구 평균 687253.0188253515
최대값 7132055

In [49]:
print(data[['지하철역','사용월','유동인구']].head(10))

           지하철역     사용월     유동인구
0           동대문  202506   738220
1           동묘앞  202506   649122
2           서울역  202506  4110772
3            시청  202506  1463546
4           신설동  202506   811008
5           제기동  202506   980207
6            종각  202506  2084395
7          종로3가  202506  1443406
8          종로5가  202506  1348548
9  청량리(서울시립대입구)  202506  1337727

In [39]:
year_list = []
for y in range(len(data)):
    month = data.loc[y,'사용월']
    year = month//100
    year_list.append(year)
data['연도'] = year_list

In [43]:
info = data.groupby(['연도','지하철역'])['유동인구'].sum().reset_index()

In [46]:
# 딕셔너리 만들기
subway_dict = {}
for i in range(len(info)):
    station = info.loc[i,'지하철역']
    year = info.loc[i,'연도']
    float_pop = info.loc[i,'유동인구']

    if station not in subway_dict:
        subway_dict[station] = {}

    subway_dict[station][year] = float_pop

In [48]:

# 딕셔너리 → 데이터프레임
table = pd.DataFrame.from_dict(subway_dict, orient="index")

if 2015 in table.columns and 2025 in table.columns:
    table["증감폭"] = table[2025] - table[2015]
    table = table.dropna(subset=["증감폭"])

    top_increase = table["증감폭"].sort_values(ascending=False).head(10)
    top_decrease = table["증감폭"].sort_values().head(10)

    st.subheader("유동인구 증가 Top 10")
    st.bar_chart(top_increase)

    st.subheader("유동인구 감소 Top 10")
    st.bar_chart(top_decrease)

    st.subheader("지하철역 선택하여 연도별 유동인구 보기")
    selected_station = st.selectbox("지하철역을 선택하세요", table.index)

    if selected_station:
        st.line_chart(table.loc[selected_station].drop("증감폭"))

if __name__ == "__main__":
    main()

2025-07-23 12:19:51.240 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-07-23 12:19:51.240 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-07-23 12:19:51.251 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-07-23 12:19:57.478 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-07-23 12:19:57.478 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-07-23 12:19:57.482 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-07-23 12:19:57.484 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-07-23 12:19:57.487 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-07-23 12:19:57.488 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-07-23 12:19:57.537 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-07-23 12:19:57.537 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-07-23 12:19:57.541 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-07-23 12:19:57.544 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-07-23 12:19:57.544 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-07-23 12:19:57.544 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-07-23 12:19:57.544 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-07-23 12:19:57.544 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-07-23 12:19:57.557 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-07-23 12:19:57.561 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-07-23 12:19:57.563 Session state does not function when running a script without `streamlit run`
2025-07-23 12:19:57.567 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-07-23 12:19:57.573 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-07-23 12:19:57.575 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-07-23 12:19:57.745 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-07-23 12:19:57.755 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-07-23 12:19:57.758 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-07-23 12:19:57.759 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-07-23 12:19:57.762 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-07-23 12:19:57.763 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.

In [ ]:
# 증가율 구하기

table["증가율"] = (table["증감폭"]/table[2015])*100
top_increase_rate = table["증가율"].sort_values(ascending=False).head(10)

st.subheader("2015~2024 유동인구 증가율")
st.bar_chart(top_increase_rate)

In [ ]:
st.subheader("2015~2024 유동인구 증가율")
st.bar_chart(top_increase_rate)

In [51]:
import pymysql
import pandas as pd

In [52]:
conn = pymysql.connect(
    host='localhost',
    user = 'opgrs',
    password='test1234',
    db = 'mini_project',
    charset = 'utf8mb4'
)

In [53]:
years_data = list(range(2015,2025))
years_data_in = []

In [56]:
for y in years_data:
    table = f"subway_{year}"

    query = f"""
        SELECT
            SUM(`04-05시 승차인원` + `04-05시 하차인원` +
                   `05-06시 승차인원` + `05-06시 하차인원` +
                   `06-07시 승차인원` + `06-07시 하차인원` +
                   `07-08시 승차인원` + `07-08시 하차인원` +
                   `08-09시 승차인원` + `08-09시 하차인원` +
                   `09-10시 승차인원` + `09-10시 하차인원` +
                   `10-11시 승차인원` + `10-11시 하차인원` +
                   `11-12시 승차인원` + `11-12시 하차인원` +
                   `12-13시 승차인원` + `12-13시 하차인원` +
                   `13-14시 승차인원` + `13-14시 하차인원` +
                   `14-15시 승차인원` + `14-15시 하차인원` +
                   `15-16시 승차인원` + `15-16시 하차인원` +
                   `16-17시 승차인원` + `16-17시 하차인원` +
                   `17-18시 승차인원` + `17-18시 하차인원` +
                   `18-19시 승차인원` + `18-19시 하차인원` +
                   `19-20시 승차인원` + `19-20시 하차인원` +
                   `20-21시 승차인원` + `20-21시 하차인원` +
                   `21-22시 승차인원` + `21-22시 하차인원` +
                   `22-23시 승차인원` + `22-23시 하차인원` +
                   `23-24시 승차인원` + `23-24시 하차인원` +
                   `00-01시 승차인원` + `00-01시 하차인원` +
                   `01-02시 승차인원` + `01-02시 하차인원` +
                   `02-03시 승차인원` + `02-03시 하차인원` +
                   `03-04시 승차인원` + `03-04시 하차인원`)
                   AS 총유동인구
                   FROM subway_{year}
            """
    
    df = pd.read_sql(query, conn)
    total = int(df.loc[0, '총유동인구'])
    years_data_in.append({"연도": year, "총유동인구": total})

conn.close()

C:\Users\opgrs\AppData\Local\Temp\ipykernel_27828\3015939016.py:34: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

In [57]:
year_df = pd.DataFrame(years_data_in)

st.subheader("연도별 유동인구")
st.line_chart(year_df.set_index("연도"))

2025-07-23 15:17:35.338 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-07-23 15:17:35.345 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-07-23 15:17:35.349 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-07-23 15:17:35.725 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-07-23 15:17:35.727 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-07-23 15:17:35.732 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.

DeltaGenerator()